.advantages {
  text-align: center;
  color: #ffffff;

  background-color: #ffffff;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-left: 0;

  list-style: none;
}

.advantages__wrap {
  background-color: #81b3d2;
}

@media (min-width: $tablet-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
