.button {
  display: block;

  font-weight: bold;
  font-size: 21px;
  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.button:hover {
  background-color: #669ec0;
}

.button:active {
  background-color: #5496bd;

  & span {
    opacity: 0.3;
  }
}

.button:disabled {
  background-color: #e5e5e5;
}
