.features {
  padding-top: 41px;
  padding-bottom: 42px;

  color: #333333;

  background-color: #ffffff;
}

.features__list {
  padding-left: 0;

  list-style: none;
}

.features__item:not(:last-child) {
  margin-bottom: 38px;
}

.features__title {
  margin-top: 0;
  margin-bottom: 27px;

  color: #000000;
}

.features__description {
  margin: 0;

  line-height: 21px;
}

@media (min-width: $tablet-width) {
  .features__list {
    display: flex;
    flex-wrap: wrap;
  }

  .features__item {
    width: 256px;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    width: 400px;
  }
}
