.page-header {
  display: flex;
  flex-direction: column;

  background-color: #ffffff;
}

.page-header__logo-wrap {
  position: relative;

  height: 56px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -51px;
}

@media (min-width: $tablet-width) {
  .page-header__logo-wrap {
    height: 0;
  }

  .nav {
    order: 2;
  }
}
