.page-header {
  min-width: 320px;
  margin-right: auto;
  margin-left: auto;

  background-color: #ffffff;
}

.page-header__logo-wrap {
  position: relative;

  min-height: 56px;
}

.page-header__logo {
  position: absolute;
  top: 0;
  left: 50%;

  margin-left: -51px;
}
