.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 5;

  width: 320px;
  margin-left: -160px;
  padding-top: 45px;

  text-align: center;
  text-transform: uppercase;

  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.popup--error {
  display: none;
  padding-bottom: 35px;
}

.popup--success {
  display: none;
}

.popup__title {
  margin-top: 0;
  margin-bottom: 28px;

  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.popup__text {
  margin: 0;
  padding-right: 52px;
  padding-left: 52px;

  font-size: 14px;
  line-height: 24px;
  color: #333333;
}

.popup__button-wrap {
  margin-top: 32px;
  padding: 20px;

  background-color: #f2f2f2;
}

.popup__button {
  margin-right: auto;
  margin-left: auto;
  padding-top: 19px;
  padding-right: 75px;
  padding-bottom: 19px;
  padding-left: 75px;

  font-size: 18px;
  text-transform: uppercase;

  border: none;
}

.popup--error .popup__button {
  margin-top: 23px;
}

@media (min-width: $tablet-width) {
  .popup--error {
    width: 400px;
    margin-left: -200px;
    padding-top: 64px;
    padding-bottom: 49px;
  }

  .popup--success {
    width: 640px;
    margin-left: -320px;
    padding-top: 64px;
  }

  .popup__title {
    margin-top: 0;
    margin-bottom: 30px;
    padding-right: 75px;
    padding-left: 75px;

    font-size: 30px;
  }

  .popup--error .popup__title {
    margin-bottom: 23px;

    line-height: 40px;
  }

  .popup__button-wrap {
    margin-top: 35px;
    padding: 44px 91px;
  }

  .popup__button {
    font-size: 21px;
  }

  .popup--success .popup__button {
    padding: 17px 154px;
  }

  .popup--error .popup__button {
    margin-top: 33px;
    padding: 17px 122px;
  }
}
