.presentation {
  padding-top: 39px;
  padding-bottom: 49px;

  text-align: center;
  background-color: #ffffff;
}

.presentation__info {
  margin-bottom: 40px;
  padding-right: 42px;
  padding-left: 42px;
}

.presentation__title {
  margin-top: 0;
  margin-bottom: 40px;

  font-weight: bold;
  font-size: 18px;
  color: #000000;
}

.presentation__text {
  margin-top: 0;
  margin-bottom: 0;

  font-size: 14px;
  line-height: 24px;
}

.presentation__content {
  width: auto;
  margin-right: auto;
  margin-left: auto;

  text-align: center;
}

.presentation__video {
  display: block;
}

.presentation__slider-wrap {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  background-color: #000000;
  opacity: 0.6;
}

.presentation__interface {
  width: 280px;
  margin-right: auto;
  margin-left: auto;

  background-color: #f2f2f2;
}

@media (min-width: $tablet-width) {
  .presentation {
    padding-top: 68px;
    padding-bottom: 41px;
  }

  .presentation__info {
    margin-bottom: 78px;
    padding-right: 176px;
    padding-left: 176px;
  }

  .presentation__content {
    width: 648px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: $desktop-width) {
  .presentation {
    padding-top: 72px;
    padding-bottom: 85px;
  }

  .presentation__info {
    margin-bottom: 76px;
    padding-right: 392px;
    padding-left: 392px;
  }

  .presentation__content {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}
