.social {
  text-align: center;
}

.social__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 151px;
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  padding: 0;

  list-style: none;
}

.social__item {
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
  cursor: pointer;
}

.social__item:hover {
  background-color: #669ec0;
}

.social__item:active {
  background-color: #5496bd;
}

.social__icon {
  fill: #ffffff;
}

.social__icon--twitter {
  margin-top: 17px;
  margin-right: 14px;
  margin-bottom: 17px;
  margin-left: 14px;
}

.social__icon--facebook {
  margin-top: 14px;
  margin-right: 19px;
  margin-bottom: 16px;
  margin-left: 19px;
}

.social__icon--youtube {
  margin-top: 17px;
  margin-right: 13px;
  margin-bottom: 17px;
  margin-left: 13px;
}

.social__item:active .social__icon {
  opacity: 0.3;
}

@media (max-width: $mobile-width-only) {
  .social {
    margin-bottom: 49px;
  }
}

@media (min-width: $tablet-width) {
  .social {
    margin-right: 119px;
  }
}

@media (min-width: $desktop-width) {
  .social {
    margin-right: 276px;
  }
}
